<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новости</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        *, *::before, *::after {
            margin:     0;
            padding:    0;
            box-sizing: border-box;
        }

        .container {
            padding-top: 20px;
        }

        .nav-wrapper {
            padding: 0 20px;
        }

        .col {
            height: 300px;
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo">Новости</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/translate">Переводчик</a></li>
            <li><a href="/news">Новости</a></li>
        </ul>
    </div>
</nav>
<section class="container">
    <div class="row"></div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

    const createCard = (title, content) => {
        const col = document.createElement('div');
        col.classList.add('col', 's12', 'm4');
        const card = document.createElement('div');
        card.classList.add('card', 'teal', 'lighten-2');
        const cardContent = document.createElement('div');
        cardContent.classList.add('card-content', 'white-text');
        const span = document.createElement('span');
        span.classList.add('card-title');
        span.innerText = title;
        const p = document.createElement('p');
        p.innerText = content;
        cardContent.append(...[span, p]);
        card.append(cardContent);
        col.append(card);
        return col;
    };

    const loadNews = () => {
        fetch('/api/news', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
        })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                data.forEach(c => {
                    const text = c.split(' ');
                    const title = `${text[0]} ${text[1]}...`;
                    document.querySelector('.row').append(createCard(title, c));
                });

            })
            .catch(err => console.error(err));
    };



    document.addEventListener("DOMContentLoaded", loadNews);
</script>
</body>
</html>